<nav class=" sidebar">
    {{#if user}}
    <img src="https://ui-avatars.com/api/?size=150&name={{user.firstname}}+{{user.lastname}}"
        alt="{{user.firstname}}{{ user.lastname}}">
    <ul>
        <li>{{user.firstname}},{{ user.lastname}}</li>
        <li>{{user.email}}</li>


        <li>

            <a href="/users/notes">My Notes <span class="badges">5</span></a>

        </li>
        <li>
            <a href="/users/write">New Note</a>
        </li>
        </li>

        <li><a href="/users/logout" class="button">Signout</a></li>

    </ul>
    {{else}}
    <h6 class="empty-note">No User available, you can <a href="/users/signin">log in</a> to explore notes</h6>
    {{/if}}
</nav>


<script>

    document.addEventListener("click", function (e) {

        if (!e.target.matches(".toggle")) return false;

        const sidebar = document.querySelector(".sidebar");
        const mainView = document.querySelector(".main-view");
        if (sidebar.classList.contains("show")) {
            sidebar.classList.remove("show");
            mainView.classList.remove("slideOut")
        } else {
            sidebar.classList.add("show");
            mainView.classList.add("slideOut")
        }
    })







</script>
{{!-- <script>
    document.querySelector("#open").addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector(".side-nav").style.width = "100%";
        document.getElementById("main").style.marginRight = "550px";
    });
    document.querySelector("#close").addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector(".side-nav").style.width = "0";
        document.getElementById("main").style.marginRight = "0";
    });
</script> --}}