<nav class=" sidebar">

    {{#if user}}
    <img src="https://ui-avatars.com/api/?size=150&name={{user.firstname}}+{{user.lastname}}"
        alt="{{user.firstname}} {{ user.lastname}}">
    <ul>
        <li class="menu-list"><a href="/users/logout" class="button">Signout</a></li>
        <li class="menu-list">{{user.firstname}}, {{ user.lastname}}</li>
        <li class="menu-list">{{user.email}}</li>


        <li class="menu-list">

            {{#if docs}}
            <a href="/users/notes">My Notes <span class="badges">{{docs}}</span></a>
            {{else}}
            <a href="/users/notes">My Notes </a>


            {{/if}}
        </li>

        </li>



    </ul>
    {{else}}
    <h6 class="empty-note">No User available, you can <a href="/users/signin">log in</a> to explore notes</h6>
    {{/if}}
</nav>


<script>

    document.addEventListener("click", function (e) {

        if (!e.target.matches(".toggle")) return false;

        const sidebar = document.querySelector(".sidebar");
        const mainView = document.querySelector(".main-view");
        const toggle = document.querySelector(".toggle");
        if (sidebar.classList.contains("show")) {
            sidebar.classList.remove("show");
            mainView.classList.remove("slideOut");
            toggle.classList.remove("turn");

        } else {
            sidebar.classList.add("show");
            mainView.classList.add("slideOut");
            toggle.classList.add("turn");

        }
    })







</script>