<form action="/users/signup" method="POST">
    <div class="row form-row">
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div class="five columns">

            <label for="firstname">First Name</label>
            <input class="u-full-width" type="text" placeholder="firstname" name="firstname" id="firstname"
                value="{{firstname}}">
            <label for="lastname">Last Name</label>
            <input class="u-full-width" type="text" placeholder="lastname" name="lastname" id="lastname"
                value="{{lastname}}">
            <label for="exampleEmailInput">Email:</label>
            <input class="u-full-width" type="email" placeholder="user@domain.com" name="email" id="email"
                value="{{email}}">
            <label for="password">Password</label>
            <input class="u-full-width" type="password" placeholder="password" name="password" id="password"
                value="{{password}}">
            <label for="password2">Confirm Password</label>
            <input class="u-full-width" type="password" placeholder="confirm password" name="password2" id="password2"
                value="{{password2}}">

            <input class=" button button-success" type="submit" value="sign up" id="signup-btn">

            <hr>
            <a href="/users/signin"> sign in </a>
        </div>

    </div>

</form>